

@model IEnumerable<LibraryProject.Models.Books> 
    


@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>

               
                <td> Book Name </td>
             
                <td>  </td>

            </tr>
        </thead>
        <tbody>


        

            @foreach (var item in Model)
            {
                <tr class="active">
                    
                   
                    <td>@item.BookName</td>
                    
                    
                    <td>@Html.ActionLink("Detail", "Detail", new { id = item.BookID }) @Html.ActionLink("Delete", "Delete", new { id=item.BookID }) </td>
                   
                </tr>
            }

        </tbody>
    </table>
</div>